<div class="brand-shell">
    <div>
        <a class="brand-shell__title" href="">sbclient</a>
        <p class="brand-shell__subtitle">Blazor web client for an LDMud-powered MUD</p>
    </div>

    <nav class="brand-shell__nav" aria-label="Primary">
        <NavLink class="brand-shell__nav-link" href="" Match="NavLinkMatch.All">Terminal</NavLink>
        <NavLink class="brand-shell__nav-link" href="wasm-learning">WASM learning</NavLink>
    </nav>
</div>
